/*Custom CSS*/

/*INSERT FONT FAMILY*/
/*@font-face {
    font-family: fontName;
    src: url(fonts/fontName.woff);
}*/

html, body {
	margin:0;
	padding: 0;
	height: 100%;
	width: 100%;
	
/*Sets the font type*/
	font-family: times, Times New Roman, times-roman, georgia, serif;
 	font-size: 14px;
 	line-height: 14px;
 	color: #444;
}

/*---------------MENU AREA AND FRONT COVER---------------*/
.mainPage {
	width:100%;
	height: 100%;
	background-color: black;	
	z-index: 100;
}

p {
	vertical-align: middle;
	margin: 0 0;
}

/*Div to hold the main portfolio image*/
.pfImg {
	position: absolute;
	/*width: 20%;*/
	padding-top:  18%;
	width: 40%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: black url("../images/14.jpg") no-repeat center center;
	background-size: 100%;
	border-radius: 150% 0 150% 0 / 250%;
	
	box-shadow: 0px 0px 100px 1px #888888;
		transition: all 1s;
			
}


.buttonA {
	/*Set div attributes*/
	position: absolute;
	padding-top: 3%;
	/*padding-left: 3%;*/
	width: 3%;
	background: white;
	border-radius : 50%;
	box-shadow: 0 0 10px 5px white;

	/*Set text attributes in div*/
	overflow: hidden;
	color: black;

	/*transition and animation*/
	transition: 0.5s;
	transition-timing-function: cubic-bezier(1,4,1); 
}
.buttonA:hover {
	padding-left: 6%;
	padding-top: 2.95%;
	opacity: 0.9;
	box-shadow: 0 0 50px 4px #d04a4a;
	border-radius: 50% 50% 50% 50% / 10%;
}

.glwBnc {
	animation-name: glow_eff;
  	animation-duration: 4s;
  	animation-iteration-count: infinite;
}
@keyframes glow_eff {
	50% {box-shadow: 0px 0px 15px 7px white;}
}

#butOne {top:20%; left: 25%;}
#butTwo {top:45%; left: 18%;}
#butThree {top:75%; left: 20%;}
#butFour {top: 20%; right: 20%;}
#butFive {top: 50%; right: 18%;}
#butSix {top: 75%; right: 25%;}

/*.pfImg:hover {
	box-shadow:  0px 0px 100px 10px #888888, 0px 0px 0px 0.3px #888888;
}*/

/*Effect when hovering over portfolio*/
.pfImg:hover {
	box-shadow: 0px 0px 100px 10px #888888, 0px 0px 0px 0.3px #888888;
	animation-name: change_glow;
	animation-delay: 1s;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
@keyframes change_glow {
	0% {box-shadow: 0px 0px 100px 10px #888888, 0px 0px 0px 0.3px #888888; }	
	/*20% {box-shadow: 0px 0px 100px 1px #888888}*/
	50% {
		box-shadow: 0px 0px 8px 1px #888888; }
	/*70% {box-shadow: 0px 0px 100px 1px #888888}	*/
	100% {
		box-shadow: 0px 0px 100px 10px #888888, 0px 0px 0px 0.3px #888888; }
}

