/*Custom CSS*/

/*INSERT FONT FAMILY*/
/*@font-face {
    font-family: fontName;
    src: url(fonts/fontName.woff);
}*/

html, body {
	height: 100%;
	width: 100%;
}


img {
	width:481px;
	height:699px;
}